@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}
span {
  justify-content: left;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo-npm {
  width: 200px;
}

.seach-icon {
  width: 20px;
  margin: 25px 5px 25px 25px;
}

.form-header {
  border: none;
  margin-left: 5px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.05);
}
.form-header > input {
  border: none;
  flex: 1;
  outline-width: 0;
  font-weight: 600;
  height: 40px;
  width: 75%;
  margin: 15px 5px 25px 5px;
}

.form-header > button {
  background-color: #fb3e44;
  color: white;
  height: 40px;
  width: 100px;
  margin: 20px;
  margin-left: 0;
}

.button-header {
  display: flex;
}
.button-header > button {
  margin: 5px;
  height: 40px;
  width: 80px;
}

#join {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
}

#join > h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

#join > article {
  height: 80px;
  width: 400px;
  margin-top: 10px;
}

.plan-button {
  margin: 25px;
  height: 50px;
  width: 200px;
  background-color: #fb3b49;
  border: none;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  font-weight: 800;
}

.plan-button a {
  text-decoration: none;
}

.join-button2 {
  margin: 25px;
  height: 50px;
  width: 200px;
  border: none;
  background-color: white;
  font-weight: 800;
}
.join-button2 a {
  text-decoration: none;
}

#tool {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 600px;
  background-color: white;
}

#tool > img {
  width: 300px;
}

#tool > h3 {
  font-size: 2em;
  margin: 20px;
  background-color: rgba(255, 204, 53, 0.4);
  font-style: italic;
  transform: skew(9deg, 0deg);
}

#tool > article {
  height: 80px;
  width: 550px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.7em;
  text-align: center;
}

#last-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 600px;
  background-color: white;
}

#last-sec > div {
  height: 250px;
  width: 250px;
  margin: 20px;
}

#last-sec > div > img {
  width: 30px;
}

#last-sec > div > h5 {
  color: #ed1c24;
  font-size: 1rem;
}

.org-btn {
  justify-content: center;
  height: 40px;
  width: 150px;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  color: white;
}
